<div class="flex h-full items-center justify-between">
  <div class="h-full flex items-center gap-4">
    <button class="p-2 text-primary hover:cursor-pointer" (click)="toggleSidebar()">
      <i class="pi pi-bars text-xl"></i>
    </button>

    <!-- breadcrumbs go here -->
    <p-breadcrumb
      [home]="home"
      [model]="items"
      styleClass="!bg-transparent !backdrop-blur-sm !border-none !shadow-none !px-0 !py-0 text-sm"
    ></p-breadcrumb>
  </div>

  <div class="h-full flex items-center gap-4">
    <button class="p-2 text-primary hover:cursor-pointer">
      <i class="pi pi-bell text-xl"></i>
    </button>

    <button class="p-2 text-primary hover:cursor-pointer">
      <i class="pi pi-moon"></i>
    </button>

    <p-avatar
      image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
      class="cursor-pointer hover:shadow-lg hover:shadow-primary/20"
      size="normal"
      shape="circle"
      (click)="menu.toggle($event)"
    />

    <p-menu #menu [model]="userMenuItems" [popup]="true" styleClass="rounded-xl shadow-lg"></p-menu>
  </div>
</div>
